.navBar {
  display: flex;
  align-items: center;
  background-color: lightblue;
  border-width: 2px;
  height: 50px;
  margin-bottom: 24px;
}

.todoBody,
.flex {
  display: flex;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


